body{
    width: 100%;
    margin: auto;
    background-color: black;
    background-repeat: no-repeat;
    font-family: arial bold;
    display: flex;
}
h1{
    margin-left: -68vw;
    margin-top: 20vh;
    font: 400 50px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}
.nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;   
    background-color: gray;
    padding: 1vh;
    padding-left: 100px;
}
.nav a{
    text-decoration: none;
    color: white; 
}
a:hover{
    background-color: dimgrey;
    width: 6vw;
    height: 2.5vh;
}
.port{
    background-color: dimgray;
    width: 30vw;
    height: 15vh;
    text-align: center;
    padding: 1vw;
    padding-top: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
    color: white;
}